@font-face {
  font-family: "iconfont"; /* Project id 3140284 */
  /* Color fonts */
  src: url('iconfont.woff2?t=1642068257716') format('woff2'),
       url('iconfont.woff?t=1642068257716') format('woff'),
       url('iconfont.ttf?t=1642068257716') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\f4cf";
}

