@import "./assets/style/normalize.css";
@import "./assets/style/common";


html {
  height: 100%;
  overflow: hidden;
  // font-size: @fon-base-size;
}

body {
  height: 100%;
}

.App{
  &.night{
    color: @font-night-color;
  }
  &.day {
    color: @font-day-color;
  }
}

